* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: url('NormalSelectt.cur'), default !important;
    overflow: hidden;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

button, a {
    cursor: url('LinkSelect.cur'), pointer !important;
}

button, img {
    cursor: url('NormalSelectt.cur'), pointer !important;
}

h2 {
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 
        0 0 1px rgba(126, 126, 126, 0.74),
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 15px rgba(255, 255, 255, 0.4);
    padding: 10px;
}

h3 {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 
        0 0 1px rgba(126, 126, 126, 0.74),
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 15px rgba(255, 255, 255, 0.4);
}

body > img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

section {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
    perspective: 1000px;
}

section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

section div:hover {
    z-index: 1;
}

section > div {
    padding: 100px 10px;
}

section div img {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 80%;
    box-shadow: 0 0 40px 1px #cde1ee;
    border: 3px solid #3d3d3d31; 
}


a {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1.5px solid white;*/
    padding: 10px;
    color: rgba(255, 255, 255, 0.192);
    text-decoration: none;
    gap: 20px;
    border-radius: 40px;
    transition-duration: 200ms;
}

a:hover {
    background: rgba(255, 255, 255, 0.288);
    color: #0f172a;
}

a i {
    font-size: 1.3em;
}

section > div {
    padding: 59px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    box-shadow: 
        0 0 15px 5px rgba(0, 0, 0, 0.616),
        0 0 40px 5px rgba(255, 255, 255, 0.89);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}

section div img {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 80%;
    box-shadow: 0 0 40px 1px #cde1ee;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    pointer-events: none;
}

.social-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px;
    pointer-events: auto;
}

.social-links a i {
    font-size: 2.5rem;
}

.social-links a:hover {
    color: #616161;
    transform: scale(1.2);
    transition: transform 0.2s ease, color 0.2s ease;
}

.muzik-ackapa {
    color: #a8a8a8;
    position: fixed;
    top: 10px;
    left: 10px;
    border: none;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    z-index: 999;

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.185);
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    transition: transform 0.2s ease;
}

.muzik-ackapa:hover {
    background-color: #9c9c9c49;
    transform: translateY(5px);
}

#roblox i {
    transform: rotateZ(45deg);
  }